
HELP.md
target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Nodes for Angular Development ###
node_modules
/src/main/resources/static/.angular/cache
/src/main/resources/static/src/.bin
/src/main/resources/static/src/.cache
/src/main/resources/static/src/.cli-ngcc
/src/main/resources/static/src/.package-lock.json


