/* You can add global styles to this file, and also import other style files */


@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

#page-container {
    position: relative;
    min-height: 100vh;
    background: url(./assets/images/background.png) center;
    background-attachment: fixed;
    background-size: contain;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;            /* Footer height */
  }
  
  #footer > div > table > tr > th > li > a > img {
    width: 24px;
    margin-right: 30px;
    margin-left: 30px;
  }

  #content-wrap > app-root > div > nav {
    max-height: 51px;
  }

  .navbar {
    z-index: 1;
  }

  .nav-link {
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
    padding: 1px 6px!important;
  }

  button {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111!important;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
    padding: 1px 6px!important;
  }
  
  button:active {
    border-bottom-color: #a2a6ac;
  }
  
  button:active:hover {
    border-bottom-color: #a2a6ac;
  }
  
  button:hover {
    border-color: #a2a6ac #979aa1 #82858a;
  }
  
  button:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
  }

/* 
  .castle{
    background-image: url(/assets/images/castle);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
   
} */