/* You can add global styles to this file, and also import other style files */


@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }


  .castle{
    background-image: url(/assets/images/castle);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
   
}