<head>

    <link rel="stylesheet" type="text/css" href="css/scoreTable.css">

</head>

<div class="container">


    <body>

        <h2>Level 1 Best Score</h2>

        <table>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria</td>
                <td>110</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Bob</td>
                <td>115</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ernest</td>
                <td>122</td>
            </tr>

        </table>

</div>