<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="about" class="navbar-brand"><img src="./assets/images/castlebrand.png"></a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="newGame" class="nav-link">New Game</a>
      </li>
      <li class="nav-item">
        <a routerLink="bestScores" class="nav-link">Best Scores</a>
      </li>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!(LoginStatus$ | async) as LoginStatus">
        <a class="nav-link " *ngIf="LoginStatus" routerLink="register">Register</a>
      </li>
      <li class="navbar-nav navbar-right" *ngIf="!(LoginStatus$ | async) as LoginStatus" style="text-align: left;">
        <button type="menu" *ngIf="LoginStatus" routerLink="login" class="btn-block">Log In</button>
      </li>
      <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
        <a class="nav-link" *ngIf="(UserName$ | async) as UserName" routerLink="bestScores">{{UserName | uppercase}}</a>
      </li>
      <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
        <button routerLink="login" type="menu" (click)="lO()" *ngIf="LoginStatus" >Log Out</button>
      </li>
    </ul>
  </nav>
  <div class="container mt-3">
    <router-outlet>
    </router-outlet>
  </div>

  <footer id="footer" class="footer footer-dark bg-dark">
    <div class="navbar-nav mr-auto" style="text-align: center">
      <table>
        <tr>
          <th>
            <li class="footer-item">
              <a routerLink="admin-list" style="color: rgba(255,255,255,.5)" class="footer-link"><p style="text-align:left">Admin Center</p></a>
            </li>
        </th>
        <th>
          <li class="footer-link">
              <a href="https://github.com/the-dunny/ICS-499/wiki" target="_blank"><img align="right" src="./assets/images/github.png" title="GitHub Repository"></a>
              <a href="https://cs499.atlassian.net/jira/projects?selectedProjectType=software" target="_blank"><img align="right" src="./assets/images/jira.png" title="JIRA"></a>
              <a href="./assets/diagrams/diagrams.zip" download><img align="right" src="./assets/images/zip.PNG" title="Download Diagrams"></a>
          </li>
        </th>
        </tr>
        <tr>
          <th></th>
          <th>
          <p class="copyright" style="text-align: right;">Copyright © 2021: Team Four ICS-499</p>
        </th>
        </tr>
    </table>
    </div>
  </footer>
</div>