.register{
    align-items: center;
    color: darkgrey;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register:hover{
    opacity: 70%;
}

.newhead{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 38%;
}

.card {
    border: solid black;
    padding: 15px;
    width: 565px;
    height: 795px;
    margin: auto;
}

.card > img {
    width: fit-content;
    margin-top: auto;
}