div#grid_container {

    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border: 2px #000000 solid;
    margin-top: 2%;
    margin-left: 5%;
}

table {
    
    background-color: #000000;
    width: 100%;
    height: 100%;
    border-spacing: 10px;
    
}

table td {

    border: 2px #000000 solid;
   background-color:royalblue;
 
}


div.col {

    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;

    margin: 0;
    padding: 0;
    
}