  <div class="col-md-12">
    <div class="card card-container">
      <form name="form" (ngSubmit)="f.form.valid && handleRegistration()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
            #username="ngModel"/>
          <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
            Username is required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="2"
            #password="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 2 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Confirm Password:</label>
          <input type="password" class="form-control" name="password2" [(ngModel)]="form.password2" required minlength="2"
            #password="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 2 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Register
          </button>
          
        </div>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && invalidRegister">
            Registration failed: {{ errorMessage }}
          </div>
        </div>
        
      </form>
    </div>
    <p><br><br><br></p>
    <img class="center" src="./assets/images/castlelogin.png" alt="castle login">
  </div>
