
<div class="container col-lg-6">
    <h1 class="text-center">Register</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidRegister'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='validRegister'>{{successMessage}}</div>
          <div class="form-group">
            <label for="email">User Name :</label>
            <input type="text" class="form-control" id="username" [value]="username" placeholder="Enter User Name"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [value]="password" id="password" placeholder="Enter password"
              name="password">
          </div>
          <div class="form-group">
            <label for="pwd2">Confirm Password:</label>
            <input type="password" class="form-control" [value]="password2" id="password2" placeholder="ReEnter password"
              name="password">
          </div>
          <button (click)=handleRegistration() class="btn btn-success">Register</button>
        </form>
      </div>
    </div>
  </div>
