<head></head>

<body>    

    <div id="about" align='center'>
        <img src="../../../assets/images/castlelogin.png">
        <h1><u><b>Welcome to Team Four's Application</b></u></h1>
        <h2><br><u>Technology</u></h2>
        <li>Spring (JPA, Security, Web)</li>
        <li>MySql</li>
        <li>Angular</li>
        <h2><u>Teammates</u></h2>
        <li>Barud Tesfaye</li>
        <li>Jack Haben</li>
        <li>Eric Thompson</li>
        <li>Jordan Dodd</li>
        <li>Sam Benvidi</li>
        <br><br>
        <p>ICS 499 Fall 2021</p>

    </div>
</body>